.filter-container {
  display: flex;
  margin-left: 40px;
  gap: 50px;
}

button {
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgb(88, 25, 25);
}
