.filter-container {
  display: flex;
  margin-left: 40px;
  gap: 30px;
}

button {
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid rgb(192, 188, 188);
}
