.header {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgb(158, 133, 133);
  margin: 12px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 12px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
