.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 59px 59px 59px 59px;
  -webkit-border-radius: 59px 59px 59px 59px;
  -moz-border-radius: 59px 59px 59px 59px;
}

.data {
  display: flex;
  gap: 6px;
}
